html {
    scroll-behavior: smooth !important;
}
body {
    margin: 0;
    background-color: #fdfcf8;
    /*background-color: #fce273;*/
    overflow: clip;
}

#navbar {
    mix-blend-mode: difference;
    overflow: clip;
    padding: 2.7vh 0.5vh;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(43, 45, 66, 0);
}  #navbar a {
    color: #fdfcf8;
    text-align: center;
    padding: calc(1.15vh);
    text-decoration: none;
    line-height: 2.9vh;
    border-radius: 0.2vh;
    font-size: 1.67vh;
    font-family: raisonne-demibold,Raisonne,Futura,Helvetica,Arial,sans-serif;
    font-weight: 500;
    position: relative;
    overflow: clip;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-transform: uppercase;
    padding-left: 1.27vw;
    padding-right: 1.27vw;
}  #navbar #logo {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    color: #fdfcf8;
    text-align: center;
    padding: calc(1.15vh);
    text-decoration: none;
    line-height: 2.9vh;
    border-radius: 0.2vh;
    font-family: raisonne-demibold,Raisonne,Futura,Helvetica,Arial,sans-serif;
    position: relative;
    overflow: clip;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-transform: uppercase;
    padding-left: 1.27vw;
    padding-right: 1.27vw;
    font-size: 2.65vh;
    font-weight: 600;
}  #navbar a:hover {
    background-color: rgba(120, 120, 120, 0.1);
}
.title-break {
    font-size: 0.02vh;
}

.biiig1 {
    font-size: 8.35vw;
    font-family: 'Playfair Display', serif;
    padding-top: 21.7vh;
    padding-left: 11.7vw;
    color: black;
    font-weight: 700;
}
.biiig2 {
    font-size: 8.35vw;
    font-family: 'Playfair Display', serif;
    padding-top: 0.5vh;
    padding-left: 11.7vw;
    color: black;
    font-weight: 700;
}

.little1 {
    text-align: right;
    font-size: 3.8vh;
    font-family: 'Playfair Display', serif;
    left: 70vw;
    bottom: 6.7vh;
    color: #fdfcf8;
    /*color: #fce273;*/
    position: absolute;
    font-weight: 700;
}
.little2 {
    text-align: left;
    font-size: calc(1.2vw + 1vh);
    font-family: 'Playfair Display', serif;
    left: 56vw;
    top: 28vh;
    color: #fdfcf8;
    position: absolute;
    width: 32vw;
    font-weight: 400;
}
#little3 {
    width: 100vw;
    text-align: center;
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
    top: 47vh;
    color: black;
    position: absolute;
    font-weight: 700;
}
#little3.banana {
    position: fixed;
}
.little3fix {
    padding-left: 1vh;
}
#pic5 {
    width: 13vw;
    align-content: center;
    padding: 0 0;
    left: 1vw;
    top: -0.4vh;
    position: absolute;
    opacity: 1;
    rotate: -1deg;
}
#pic6 {
    width: 8.4vw;
    align-content: center;
    padding: 0 0;
    left: 14.3vw;
    top: 0.7vh;
    position: absolute;
    opacity: 0;
    rotate: -2deg;
}

.whatis1 {
    text-align: right;
    font-size: 5vw;
    font-family: 'Playfair Display', serif;
    left: 11.9vw;
    top: 26vh;
    color: #fdfcf8;
    position: absolute;
    font-weight: 700;
    white-space: pre;
}

.pic {
    position: absolute;
    top: 27.2vh;
    left: 30.4vw;
    width: 10vw;
}

.whatis2 {
    text-align: left;
    font-size: 5vw;
    font-family: 'Playfair Display', serif;
    left: 41vw;
    top: 26.7vh;
    color: #fdfcf8;
    position: absolute;
    font-weight: 700;
    white-space: pre;
}

#pic2 {
    position: absolute;
    top: calc(42.1vh);
    left: 33vw;
    width: 20vw;
    opacity: 0;
}

#pic3 {
    position: absolute;
    top: 70vh;
    left: 20.7vw;
    width: 10vw;
    opacity: 0;
}

#where1 {
    transform: translateX(-100%);
    font-size: 5vw;
    font-family: 'Playfair Display', serif;
    left: 35.06vw;
    top: 43vh;
    color: #fdfcf8;
    position: absolute;
    font-weight: 700;
    white-space: pre;
}

.pic4 {
    position: absolute;
    top: 44.2vh;
    left: 36.4vw;
    width: 10vw;
}

#where2 {
    text-align: left;
    font-size: 5vw;
    font-family: 'Playfair Display', serif;
    left: 47vw;
    top: 43.7vh;
    color: #fdfcf8;
    position: absolute;
    font-weight: 700;
    white-space: pre;
}

.link1 {
    transform: translate(-100%, -50%);
    font-size: 2vw;
    font-family: 'Playfair Display', serif;
    left: 75vw;
    top: 35vh;
    position: absolute;
    color: #fdfcf8;
}
.link2 {
    transform: translate(-100%, -50%);
    font-size: 2vw;
    font-family: 'Playfair Display', serif;
    left: 75vw;
    top: 45vh;
    position: absolute;
    color: #fdfcf8;
}
.link3 {
    transform: translate(-100%, -50%);
    font-size: 2vw;
    font-family: 'Playfair Display', serif;
    left: 75vw;
    top: 55vh;
    position: absolute;
    color: #fdfcf8;
}
.link4 {
    transform: translate(-100%, -50%);
    font-size: 2vw;
    font-family: 'Playfair Display', serif;
    left: 77vw;
    top: 65vh;
    position: absolute;
    color: #fdfcf8;
}

#container {
    margin: 0;
    overflow-y: auto;
    height: 100vh;
    scroll-snap-type: y mandatory;
}
#home {
    height: 100vh;
    scroll-snap-align: center;
    position: relative;
}
#about {
    height: 100vh;
    scroll-snap-align: center;
    position: relative;
}
#links {
    height: 100vh;
    scroll-snap-align: center;
    position: relative;
}
#team {
    height: 100vh;
    scroll-snap-align: center;
    position: relative;
}
#end {
    height: 100vh;
    scroll-snap-align: center;
    position: relative;
}
#madewith {
    height: 8vh;
    scroll-snap-align: center;
    position: relative;
    display: none;
}

.custom-shape-divider-bottom-1698292215 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: clip;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698292215 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 41vh;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1698292215 .shape-fill {
    fill: black;
}

.custom-shape-divider-top-1698302175 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: clip;
    line-height: 0;
}

.custom-shape-divider-top-1698302175 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 130vh;
    transform: rotateY(240deg) translate(80vw, -10vw);
}

.custom-shape-divider-top-1698302175 .shape-fill {
    fill: black;
}

.back-it-up {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: clip;
    line-height: 0;
}

#custom-shape-divider-top-1699130862 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

#custom-shape-divider-top-1699130862 svg {
    position: relative;
    transform: translateY(100vh);
    display: block;
    width: calc(800% + 1.3px);
    height: 130vh;
}

#custom-shape-divider-top-1699130862 .shape-fill {
    fill: black;
}

.back-it-up svg {
    position: relative;
    display: block;
}

#boxy {
    position: absolute;
    top: 8vh;
    width: 100vw
}
#boxy1 {
    position: absolute;
    top: 0;
    width: 100vw
}
#tester1 {
    position: absolute;
    top: 40vh;
}
#tester2 {
    position: absolute;
    top: 99vh;
}
#lovebox {
    left: 0.1vw;
    bottom: 5vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease;
}