body {
    margin: 0px;
    background-color: #fdfcf8;
    /*background-color: #fce273;*/
}

#navbar {
    overflow: hidden;
    padding: 2.7vh 10px;
    /*position: fixed;*/
    width: 100%;
    top: 0;
    z-index: 99;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(43, 45, 66, 0);
}

#navbar a {
    color: #231f20;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
    font-size: 20px;
    font-family: raisonne-demibold,Raisonne,Futura,Helvetica,Arial,sans-serif;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-transform: uppercase;
    padding-left: 25px;
    padding-right: 25px;
}

#navbar #logo {
    font-size: 3.3vh;
    font-weight: 600;
}

.title-break {
    font-size: 0.84vh;
}

#navbar a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 30px 10px !important;
    }
    #navbar a {
        float: none;
        display: block;
        text-align: left;
    }
    #navbar-right {
        float: none;
    }
}

.biiig1 {
    font-size: 8.4vw;
    font-family: 'Playfair Display', serif;
    padding-top: 8vh;
    padding-left: 12vw;
    color: #231f20;
}
.biiig2 {
    font-size: 8.4vw;
    font-family: 'Playfair Display', serif;
    padding-left: 27vw;
    color: #231f20;
}

.little1 {
    text-align: right;
    font-size: 4vh;
    font-family: 'Playfair Display', serif;
    padding-left: 72vw;
    padding-top: 9.5vh;
    color: #fdfcf8;
    position: absolute;
}

.custom-shape-divider-bottom-1698292215 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698292215 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 42vh;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1698292215 .shape-fill {
    fill: #121212;
}